<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spring Bootの基礎を学ぼう</title>
</head>

<body>
	<h2>入力内容をご確認ください。</h2>
	<table border="1">
		<thead>
			<tr>
				<th><b>項目</b></th>
				<th><b>入力内容</b></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>お名前</td>
				//オブジェクトに渡されたnameを受ける
				<td><span>th:text="${form.getName()}"</span></td>
			</tr>
			
			<tr>
				<td>メールアドレス</td>
				<td><span>th:text="${form.getEmail()}"</span></td> //th:field="*{email}
			</tr>
			
			<tr>
				<td>お問い合わせ内容</td>
				<td><span>th:text="${form.getMessage()}"</span></td>
			</tr>
		</tbody>
	</table>

</body>
</html>